In [4]:
import pandas as pd
import os

# Replace the following with the actual name of your CSV file
csv_file_name = "Data.csv"
folder_path = r"F:\RIDHESH DOC\Task-3"  # Use raw string (r"") for Windows paths

# Construct the full path to the CSV file
csv_file_path = os.path.join(folder_path, csv_file_name)

# Load the CSV file into a Pandas DataFrame
df = pd.read_csv(csv_file_path)

Statistical summary:
       39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
count                                               32560
unique                                              32536
top     25, Private, 195994, 1st-4th, 2, Never-married...
freq                                                    3

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 1 columns):
 #   Column                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                           --------------  -----
 0   39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K  32560 non-null  object
dtypes: object(1)
memory usage: 254.5+ KB
None

In [7]:
print("\nStatistical summary:")
print(df.describe())

Statistical summary:
       39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
count                                               32560
unique                                              32536
top     25, Private, 195994, 1st-4th, 2, Never-married...
freq                                                    3

In [6]:
print("\nDataFrame information:")
print(df.info())

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 1 columns):
 #   Column                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                           --------------  -----
 0   39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K  32560 non-null  object
dtypes: object(1)
memory usage: 254.5+ KB
None

In [5]:
print("\nLast few rows:")
print(df.tail())

Last few rows:
      39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
32555  27, Private, 257302, Assoc-acdm, 12, Married-c...
32556  40, Private, 154374, HS-grad, 9, Married-civ-s...
32557  58, Private, 151910, HS-grad, 9, Widowed, Adm-...
32558  22, Private, 201490, HS-grad, 9, Never-married...
32559  52, Self-emp-inc, 287927, HS-grad, 9, Married-...

In [8]:
print("First few rows:")
print(df.head())

First few rows:
  39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
0  50, Self-emp-not-inc, 83311, Bachelors, 13, Ma...
1  38, Private, 215646, HS-grad, 9, Divorced, Han...
2  53, Private, 234721, 11th, 7, Married-civ-spou...
3  28, Private, 338409, Bachelors, 13, Married-ci...
4  37, Private, 284582, Masters, 14, Married-civ-...